In [8]:
import pandas as pd
import json

In [2]:
df=pd.read_csv("rainfall.csv")

In [3]:
df.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

In [5]:
location=df[['STATE_UT_NAME','DISTRICT']]

In [6]:
states=location['STATE_UT_NAME'].unique()

In [35]:
dict={}
for i in states:
    dict[i]=list(location[location['STATE_UT_NAME']==i]['DISTRICT'])

dict['STATES']=list(states)

In [30]:
dict.keys()

dict_keys(['ANDAMAN And NICOBAR ISLANDS', 'ARUNACHAL PRADESH', 'ASSAM', 'MEGHALAYA', 'MANIPUR', 'MIZORAM', 'NAGALAND', 'TRIPURA', 'WEST BENGAL', 'SIKKIM', 'ORISSA', 'JHARKHAND', 'BIHAR', 'UTTAR PRADESH', 'UTTARANCHAL', 'HARYANA', 'CHANDIGARH', 'DELHI', 'PUNJAB', 'HIMACHAL', 'JAMMU AND KASHMIR', 'RAJASTHAN', 'MADHYA PRADESH', 'GUJARAT', 'DADAR NAGAR HAVELI', 'DAMAN AND DUI', 'MAHARASHTRA', 'GOA', 'CHATISGARH', 'ANDHRA PRADESH', 'TAMIL NADU', 'PONDICHERRY', 'KARNATAKA', 'KERALA', 'LAKSHADWEEP', 'STATES'])

In [36]:
with open('district', 'w') as file:
    file.write(json.dumps(dict, indent=4))